
@font-face {
	font-family: 'oswald-regular';
	src: url('Oswald-Regular.eot?') format('eot'), 
	     url('Oswald-Regular.woff') format('woff'), 
	     url('Oswald-Regular.ttf')  format('truetype'),
	     url('Oswald-Regular.svg#Oswald-Regular') format('svg');
}


@font-face {
	font-family: 'Lato-Regular';
	src: url('Lato-Regular.eot?') format('eot'), 
	     url('Lato-Regular.woff') format('woff'), 
	     url('Lato-Regular.ttf')  format('truetype'),
	     url('Lato-Regular.svg#Lato-Regular') format('svg');
}



.heading {
 
 color:#3300cc; 
 font-family: oswald-regular;
 border-bottom: solid 3px lightgreen;
 }
a {
 text-decoration: none;
 color: #330066;
} 
 
 nav {
     float: right;
	 color: black;
	 position:absolute;	
	 top:0px;
	 right:0px;
	 font-family: lato-regular;
     font-weight:50%;
	 
}
 
 
 nav  li{
     display: inline-block;
	 float: left;
	 list-style-type:none;
	 padding-right: 10px;
	 padding-left: 10px;
	 border-right: solid 1px #585858; 
     
 }
 
 nav li:hover {
	         box-shadow: rgba()
 
 } 
 .upper {
  
          width:970px;
		  margin: auto auto;
 
 }
 .profile_picture{
 
          width:980px;
		  text-align:center;
		  padding-bottom: 10px;
		  border-bottom: solid 2px blue;
 }
.profile_details {
	 float:left;
	 padding-left: 140px;
	 padding-top: 10px;
	 padding-bottom:10px;
	 font-size: 1.2em;
     	 
	}
 
 .anypost {
     width: 980px;
	}
.followers {
  float:right;
}	
.buttonb1 {
		  float: right;
          margin-right:140px;
		  margin-top: 15px;
		  padding: 10px;
		  display: inline-block;
		  border: solid 1px white;
		  background: linear-gradient(#c8c8c8,#c8c8c8);
		  box-shadow: rgba(0,0,0,0.25) 0 2px 2px 0;
		  opacity: 0.5;

}

.buttonb2 {
		  float: right;
          margin-right:5px;
		  margin-top: 15px;
		  padding: 10px;
		  display: inline-block;
		  border: solid 1px white;
		  background: linear-gradient(#c8c8c8,#c8c8c8);
		  box-shadow: rgba(0,0,0,0.25) 0 2px 2px 0;
		  opacity: 0.5;

}
.buttonb1:hover {
				opacity:1;
}

.buttonb2:hover {
				 opacity:1;
}

.main{
		font-size:1.2em;		
		text-align:center;
		
}